
// global
// --------------------------------------------------
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


// Links
a {
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:focus {
	  	@include tab-focus;
	}
}

// Horizontal rules
hr {
	margin-top:    $line-height-computed;
	margin-bottom: $line-height-computed;
	border: 0;
	border-top: 1px solid $hr-border;
}

.theme__section {
	max-width: 1170px;
	margin: auto;
	padding: 20px 0;
}



