
// global
// --------------------------------------------------
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


// Links
a {
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:focus {
	  	@include tab-focus;
	}
}

//images
img {
	width: auto;
	height: auto;
	max-width: 100%;
}
.responsive__img {
	display: block;
	width: 100%;
}



// Horizontal rules
hr {
	margin-top:    20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid $hr-border;
}

.theme__section {
	position: relative;
	margin: auto;
	padding: 20px 0;
	background-color: $body-bg;
	&__wrap {
		position: relative;
		z-index: 1;
	}
}

.theme__section__patern {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 0;
	background-position: center;
	background-size: cover;
}

.content__image {
	font-size: 0;
	letter-spacing: 0;
	line-height: 0;
	&--small {
		display: inline-block;
		width: calc(50% - 60px);
		margin: 0 15px;
	}
}
